<configuration>
    <dllmap dll="SDL" target="libSDL-1.2.so.0" />
    <dllmap dll="SDL_image" target="libSDL_image-1.2.so.0" />
    <dllmap dll="SDL_mixer" target="libSDL_mixer-1.2.so.0" />
    <dllmap dll="SDL_ttf" target="libSDL_ttf-1.2.so.0" />
    <dllmap dll="SDL_smpeg" target="libSDL_smpeg-1.2.so.0" />
    <dllmap dll="SDL_gfx" target="libSDL_gfx-1.2.so.0" />
</configuration>
